
  .logo img{height: 50px;
      width: 200px;
    
    }
/* Add a black background color to the top navigation */
/* Dropdown Button */
.dropbtn {
    color: gray;
   background-color: white;
    padding: 0px;
    font-size: 16px;
   border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
   min-width: 160px;
   z-index: +1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropbtn{
    font-family:Franklin Gothic Medium;
}
.dropbtn:hover{
    color: rgb(228, 69, 96);
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */



  .button1{
    font-family: Brush Script MT;
            background-color:white;
        border: none;
        color:black;
        padding: 0px;
        text-align: center;
        margin-right: 15px;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 2px 2px;
        cursor: pointer;
}
        .button:hover{
            color:  rgb(228, 69, 96);
          }
          .button{
            font-family:Franklin Gothic Medium;
            color: gray;
            background-color: white;
             padding: 15px;
             font-size: 16px;
            border: none;
        }
          
        .button2{padding: 15px;
            font-size: 18px;
        font-family: Lucida Sans;
        border: none;
        background-color:white ;
     
        float: right;
        }

        .button2{
            float: right;
            border-radius: 5px;
            background-color: rgb(211, 77, 99);
            font-size: 17px;
            font-family:Arial;
            /* margin-left: 15px; */
            margin-right: 16px 12px;
        }

        .container{
            margin-left: 20px;
        }


        .button3,
        .button2{
            border-radius: 6px;
            border-width: 0px;
            border-style: solid;
           padding: 11px 16px;
        }
        .button3{
            
            float: right;
            border: none;
             background-color:white;
            font-size: 17px;
            font-family:Arial;
            /* margin-left: 15px; */
            margin-right: 12px;
            padding-bottom: 10;
        }

        .middle{
          display: flex;
          flex-direction: row;
          position: relative;
        }
      
.img img{
  z-index: 1;
  width: 590px;
  height: 450px;
 
 
}

.blank{
 
  text-align: center;
   width: 950px;
  height: 450px;
  background-color: #faf9ff;
 z-index: 0;
}


.blank h1{
  /* font-familyImpact fantasy; */
  font-weight: bold;
  text-align: center;
  margin-top: 180px;
}
.blank h4{
  
  font-family: Times, Times New Roman, serif;
}

.button4{
 float: left;
  border: none;
   background-color:rgb(211, 77, 99);
  font-size: 17px;
  font-family:Arial;
 border-radius: 6px;
  border-width: 0px;
  border-style: solid;
 padding: 12px 16px;
 margin-left: 150px;
 margin: justify;
}

.dropbtn1{
  color: gray;
  background-color: white;
   padding: 6px 6px;
   font-size: 16px;
 border-radius: 5px;
 border-color: hotpink;
}

.btn{
background-color: white;
border: none;
color: gray;
margin-left: 20px;
padding: 12px 12px;
font-family:Arial  ;
border-radius: 15px;
}

.btn:hover{
  background-color: rgb(165, 165, 165);
  color: white;
}

.main{
  display: flex;
  /* flex-direction: row; */
 height: 70px;
  width: 100%;
}

.one{
  /* justify-content: flex-start; */
  background-color:none;
  width: 400px;

}
.two{
  /* align-items: center; */
  width: 1200px;
  
}
.three{
font-family:'MS Serif','New York',serif;

}


.center, .center{
margin-top: 30;
margin-left: 70px;
margin-right: 10px;
display: flex;


}
.c{margin-top: 20px;
  height:400 0px;
  width: 400px;
  align-items: center;
}

.buttonA{padding: 15px;
  font-size: 18px;
font-family: Lucida Sans;
border: none;
background-color:white ;
}



.buttonA{
  
  border-radius: 5px;
  background-color: rgb(211, 77, 99);
  font-size: 17px;
  font-family:Arial;
  /* margin-left: 15px; */
 
  
}
.container{
  margin-left: 20px;
}


.buttonA,
.buttonB{margin-top: 50px;
  border-radius: 6px;
  border-width: 0px;
  border-style: solid;
 padding: 11px 16px;
 margin-left: 500px;
margin-bottom: 50px;
}
.buttonB{
 
  border: none;
   background-color:white;
  font-size: 17px;
  font-family:Arial;
  /* margin-left: 15px; */
  margin-right: 12px;
  padding-bottom: 10;
  
}


.center img{
border-radius: 15px;
box-shadow: inset 0px -15px 30px 1px black;

}

.tamp{width: 1009;
  
display: flex;

}
.footer1{
  height: 400px;
}

.b1 img{font-size: 2.5rem;
  border: none;
  font-family: Brush Script MT;
  width: 104px;
background-color: whitesmoke;
margin-top: 100px;
margin-left: 70px;

}
 .h{
margin-left: 50px;
font-size: 1rem;
font-family: Arial Narrow;
margin-right: 15px;
 }




.b1{height: 413px;
  /* justify-content: flex-start; */
  background-color:whitesmoke;
  width: 350px;
color: black;

}
.b2{
  /* align-items: center; */
  width: 220px;
  background-color:whitesmoke;
  text-decoration: none;
}

 .h2{ font-family: Clanrendon BT Bold;
  margin-left: 45px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.b2 a{ color: rgb(66, 66, 66);
  margin-top: 20px;
  margin-right: 50px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 0.8rem;
}


.b3{
font-family:'MS Serif','New York',serif;
width: 220px;
background-color: whitesmoke;
}
.b3 a{margin-right: 10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 0.8rem;
 color: rgb(66, 66, 66);
}


.b4{font-family:'MS Serif','New York',serif;
  width: 220px;
  background-color: whitesmoke;
}
.b4 a{margin-right: 10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 0.8rem;
 color: rgb(66, 66, 66);

}

.b5{background-color: whitesmoke;
  width: 220px;
  }
.b5 a{margin-right: 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.8rem;
   color: rgb(66, 66, 66);
  
}

  .b6{background-color: whitesmoke;
    width:400px;
    }
    .outer
    {height: 70px;
     padding-top: 50px;
    padding-left: 100px;
      font-size: 1rem;
      background-color: whitesmoke;
      color: rgba(34, 26, 26, 0.514);
      display: flex;
    }
    .b1 img{
       height: 70px;
      width: 200px;
 
    }